/* CSS */

.button {
background-color: #e1ecf4;
border-radius: 3px;
border: 1px solid #7aa7c7;
box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
box-sizing: border-box;
color: #39739d;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 1.15385;
margin: 0;
outline: none;
padding: 8px .8em;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
white-space: nowrap;
}

.button:hover,
.button:focus:not(:disabled) {
background-color: #b3d3ea  !important;
color: #2c5777 !important;
}

.button:focus {
box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active:not(:disabled) {
background-color: #a0c7e4 !important;
box-shadow: none;
color: #2c5777  !important;
}
.button:disabled {
pointer-events: none;
background-color: lightgray !important;
color: gray !important;
}

/*
.button {
height: 50px;
border: solid;
border-color: black;
background-color: lightblue;
border-radius: 10px;
border-width: 1px;
transition: 0.5s ease-in-out !important;

}
.button:hover {
background-color: gray !important;
cursor: pointer !important;
}
*/

.inx {
height: 50px;
border: solid;
border-color: black;
border-radius: 10px;
border-width: 2px;
transition: 0.5s ease-in-out !important;
background-color: #e1ecf4;

}
.inx:hover {
cursor: pointer !important;
}
table,th,td {
border: 1px solid black;
border-collapse: collapse;
}
td {
background-color: lightblue;
border-collapse: collapse;
border: 1px solid black;
}
th {
background-color: aqua;
border-collapse: collapse;
border: 1px solid black;
}

body {
font-family: Helvetica;
}
/* Add a black background color to the top navigation */
.topnav {
background-color: lightblue;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: rgb(26, 144, 184);
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #04AA6D;
color: white;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
background-color: #e1ecf4;
color: #444;
cursor: pointer;
padding: 9px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
background-color: #ccc;
}

.cactive {
background-color: rgb(247, 230, 108);
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 18px;
background-color: white;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}

.collapsible:after {
content: '\02795';
/* Unicode character for "plus" sign (+) */
font-size: 13px;
color: white;
float: left;
margin-left: 5px;
}

.cactive:after {
content: "\2796";
/* Unicode character for "minus" sign (-) */
}

.overlaybox {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(64,64,64,0.8);
    z-index: 1000000;
    /*If that's not enough, I don't know what is!*/
    width: 100%;
    height:100%;
}
.overlayboxi {
    padding: 25px;
    margin-top: 25px;
    padding-top: 25px;
    border: 10px white solid;
    border-radius: 10px;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: fit-content;
}

input[type=text], input[type=password] {
    padding: 5px;
    margin: 5px;
    /*width: 100%;*/
    border: none;
    border-bottom: 2px solid darkblue;
}

input[type=text]:hover, input[type=password]:hover {
    border-bottom: 2px solid blue;
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2px solid gold;
    
}

.smallbutton {
    border: 0px;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.smallbutton:hover {
    background-color: lightblue;
}

input[type=date] {
    margin:5px;
}
input[type=time] {
    margin: 5px;
}
.map {
    /*width: 300px;*/
    height: 300px;
}

.smallmap {
    width: 200px;
    height: 200px;
    top: 10px;
    left: 10px;
    position: absolute;
}

input[type=number] {
    margin: 5px;
    padding: 5px;
}

.route {
    margin: 10px;
    padding: 10px;
    border: 0px black solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(64,64,64);
    position: relative;
    height: 200px;
    max-width: 800px;
    min-width: 600px;
}
.routeo {
    border: 0px black solid;
    border-radius: 10px;
    position: relative;
    height: 100%;
    width: 100%;
}

textarea {
    font-family: Helvetica;
}

.area {
    margin: 10px;
    padding: 10px;
    /*height: 100px;*/
    width: calc(100% - 40px);
    overflow: hidden;
}

.noticearea {
    background-color: lightblue;
    border: 5px solid blue;
    border-radius: 5px;
}

.warningarea {
    
    background-color: lightyellow;
    border: 5px solid yellow;
    border-radius: 5px;
}

.errorarea {
    background-color: pink;
    border: 5px solid red;
    border-radius: 5px;
}

.area h3 {
    text-align: center;
}

.disabled {
    pointer-events: none;
}

select {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    min-width: 150px;
}

.route ul {
    list-style: none;
    line-height: 2;
}

